---
import { Icon } from "astro-icon/components";
import { button, type ButtonVariants } from "~/assets/styles/variants/button";
import { cn } from "~/utils/cn";

interface Props extends ButtonVariants {
  label?: string;
  class?: string;
  iconClass?: string;
  iconName?: string;
}

const {
  label = "Toggle between Dark and Light mode",
  class: className = "",
  intent = "contrast",
} = Astro.props;

const classNames = cn(
  button({
    intent,
  }),
  "inline-flex items-center justify-center p-2.5 text-sm",
  className,
);
---

<button
  type="button"
  class={classNames}
  aria-label={label}
  data-aw-toggle-color-scheme
>
  <Icon name="tabler:sun" class="size-5 dark:hidden" />
  <Icon name="tabler:moon" class="hidden size-5 dark:inline" />
</button>
