---
import { Icon } from "astro-icon/components";
import { button, type ButtonVariants } from "~/assets/styles/variants/button";

interface Props extends ButtonVariants {
  label?: string;
  class?: string;
  iconClass?: string;
  iconName?: string;
}

const {
  label = "Toggle Menu",
  class: className = "",
  iconClass = "h-6 w-6",
  iconName = "tabler:menu",
  intent = "contrast",
} = Astro.props;
---

<button
  type="button"
  class={button({
    intent,
    class: [
      "ml-1.5 inline-flex items-center justify-center p-2.5 text-sm",
      className,
    ],
  })}
  aria-label={label}
  data-aw-toggle-menu
>
  <Icon name={iconName} class={iconClass} />
</button>
