---
import { Icon } from 'astro-icon';
import { getHomePermalink } from '~/utils/permalinks';
import Logo from '../atoms/Logo.astro';
---

<footer class="border-t border-gray-200 dark:border-slate-800 p-10">
	<div class="flex flex-col lg:flex-row justify-center items-center">
		<a class="inline-block font-bold text-xl" href={getHomePermalink()}><Logo /></a>
		<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
			<li>
				<a
					class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
					aria-label="Twitter"
					href="https://twitter.com/tverderesi_dev"
					target="_blank"
					referrerpolicy="no-referrer"
				>
					<Icon name="tabler:brand-twitter" class="w-5 h-5" />
				</a>
			</li>

			<li>
				<a
					class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
					aria-label="Github"
					href="https://github.com/tverderesi"
					target="_blank"
					referrerpolicy="no-referrer"
				>
					<Icon name="tabler:brand-github" class="w-5 h-5" />
				</a>
			</li>
			<li>
				<a
					class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
					aria-label="email"
					href="mailto:tverderesi@gmail.com"
					target="_blank"
					referrerpolicy="no-referrer"
				>
					<Icon name="tabler:mail" class="w-5 h-5" />
				</a>
			</li>
		</ul>
	</div>
	<div class="text-sm text-center pt-3 w-full flex flex-row items-center justify-center">
		Schedule Calendly meeting
		<ul class="inline-flex gap-3 ml-3">
			<li>
				<a class="text-slate-900 hover:underline dark:text-slate-100 inline font-semibold" href="https://calendly.com/tverderesi/30min">
					<Icon name="tabler:clock" class="w-4 h-4 inline-flex self-center align-text-top mr-1" />30 minutes</a
				>
			</li>
			<li>
				<a class="text-slate-900 hover:underline dark:text-slate-100 inline font-semibold" href="https://calendly.com/tverderesi/1hr-meeting">
					<Icon name="tabler:clock" class="w-4 h-4 inline-flex self-center align-text-top mr-1" />1 hour</a
				>
			</li>
		</ul>
	</div>

	<div class="text-sm text-gray-700 mr-4 dark:text-slate-400 pt-3 text-center w-full">
		Template <a class="text-blue-600 hover:underline dark:text-gray-200" aria-label="Github" href="https://github.com/onwidget/astrowind">
			Astrowind</a
		>
		by
		<a class="text-blue-600 hover:underline dark:text-gray-200" href="https://onwidget.com/"> onWidget</a> · All rights reserved.
	</div>
</footer>
