---
import { Icon } from 'astro-icon';
import Logo from '~/components/atoms/Logo.astro';
import ToggleTheme from '~/components/core/ToggleTheme.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';

import { getPermalink, getBlogPermalink, getHomePermalink } from '~/utils/permalinks';
---

<header
	class="sticky top-0 z-40 flex-none mx-auto w-full bg-white/30 dark:bg-slate-800/30 backdrop-blur-lg border-b dark:border-b-0"
	id="header"
>
	<div class="py-3 px-3 mx-auto w-full md:flex justify-between md:px-4">
		<div class="flex justify-between">
			<a class="flex items-center" href={getHomePermalink()}>
				<Logo />
			</a>
			<div class="flex items-center md:hidden">
				<ToggleTheme />
				<ToggleMenu />
			</div>
		</div>
		<nav
			class="items-center w-full md:w-auto hidden md:flex text-slate-900 dark:text-slate-200 h-screen md:h-auto"
			aria-label="Main navigation"
		>
			<ul
				class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-lg md:text-base font-semibold"
			>
				<li class="px-4 flex flex-row">
					<a
						class="hover:text-primary-400 dark:hover:text-primary-400 flex pl-1 py-3 transition duration-150 ease-in-out"
						href={'/'}
						><Icon name="ant-design:home-twotone" class="w-4 text-primary-400 mb-0.5" /> <span class="pl-1">Home</span>
					</a>
					<li class="flex flex-row px-4">
						<a
							class="hover:text-secondary-400 dark:hover:text-secondary-400 pl-1 py-3 flex items-center transition duration-150 ease-in-out"
							href={'/portfolio'}
							><Icon name="ant-design:project-twotone" class="w-4 text-secondary-400" />
							<span class="pl-1">Portfolio</span>
						</a>
					</li>
					<li class="flex flex-row px-4">
						<a
							class="hover:text-primary-400 dark:hover:text-primary-400 pl-1 py-3 flex items-center transition duration-150 ease-in-out"
							href={getPermalink('/curriculum')}
							><Icon name="fluent:contact-card-48-regular" class="w-5 text-primary-400" />
							<span class="pl-1">Curriculum</span>
						</a>
					</li>
					<li class="flex flex-row px-4">
						<a
							class="hover:text-secondary-400 dark:hover:text-secondary-400 py-3 flex items-center transition duration-150 ease-in-out"
							href={getBlogPermalink()}
							><Icon name="la:feather-alt" class="w-4 text-secondary-400 mb-0.5" /> <span class="pl-1">Blog</span>
						</a>
					</li>
				</li>
				<div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
					<div class="hidden items-center md:flex">
						<ToggleTheme iconClass="w-5 h-5 text-slate-900 dark:text-white" />
					</div>
				</div>
			</ul>
		</nav>
	</div>
</header>
