---
import Logo from "~/components/atoms/Logo.astro";
import NavLink from "~/components/atoms/NavLink.astro";
import ToggleMenu from "~/components/core/ToggleMenu.astro";
import ToggleTheme from "~/components/core/ToggleTheme.astro";

import {
  getBlogPermalink,
  getHomePermalink,
  getHomeSectionPermalink,
} from "~/utils/permalinks";
---

<header
  class="brutalist-shadow sticky top-0 z-40 mx-auto w-full flex-none border-b-4 border-black bg-white dark:border-white dark:bg-black"
  id="header"
>
  <div class="mx-auto w-full justify-between px-3 py-3 md:flex md:px-4">
    <div class="flex justify-between">
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </a>
      <div class="flex items-center md:hidden">
        <ToggleTheme />
        <ToggleMenu />
      </div>
    </div>
    <nav
      class="hidden h-screen w-full items-center text-black md:flex md:h-auto md:w-auto dark:text-yellow-50"
      aria-label="Main navigation"
    >
      <ul
        class="flex w-full flex-col gap-1.5 text-lg font-extrabold uppercase md:w-auto md:flex-row md:self-center md:pt-0 md:text-base"
      >
        <NavLink label="Home" href={getHomePermalink()} intent="signal" />
        <NavLink
          href={getHomeSectionPermalink("github")}
          label="GitHub"
          intent="acid"
        />
        <NavLink
          href={getHomeSectionPermalink("curriculum")}
          label="Curriculum"
          intent="loud"
        />
        <NavLink href={getBlogPermalink()} label="Blog" intent="technical" />
      </ul>
      <div class="mb-4 ml-2 flex items-center md:mb-0 md:self-center">
        <div class="hidden items-center md:flex">
          <ToggleTheme iconClass="w-5 h-5 text-slate-900 dark:text-white" />
        </div>
      </div>
    </nav>
  </div>
</header>
