---
const githubUrl = 'https://github.com/tverderesi';
---

<section class="flex flex-col items-center justify-center border-t border-slate-100 px-6 py-10 text-center dark:border-slate-800">
	<h5 class="font-heading text-3xl font-bold tracking-tight text-slate-900 dark:text-slate-100 sm:leading-none">GitHub</h5>
	<p class="mt-4 max-w-xl text-slate-700 dark:text-slate-300">See my repositories and current experiments on GitHub.</p>
	<a
		href={githubUrl}
		class="mt-6 inline-flex items-center justify-center rounded-md bg-primary-500 px-5 py-3 font-semibold text-white shadow-lg shadow-gray-300 transition hover:bg-primary-600 dark:bg-secondary-500 dark:shadow-black/30 dark:hover:bg-secondary-600"
	>
		View GitHub Profile
	</a>
</section>
