<section class="h-full flex flex-col items-center justify-center relative">
	<img class="relative z-0 w-full bottom-0 h-[20rem] overflow-clip object-cover a mix-blend-multiply" src="hero.jpeg" alt="building" />

	<h1 class="absolute z-10 text-5xl text-center font-bold leading-tighter tracking-tighter font-heading text-slate-900 dark:text-slate-100">
		<span class="bg-clip-text text-transparent bg-gradient-to-r to-primary-500 from-secondary-500 wavy">(Always)</span>
		Under
		<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 wavy">Construction</span>
	</h1>
</section>
