<section class="h-full flex flex-col items-center justify-center">
	<img
		class="relative z-0 w-full bottom-0 h-[20rem] overflow-clip object-cover object-[center-top] dark:brightness-[15%]"
		src="https://images.pexels.com/photos/1437493/pexels-photo-1437493.jpeg"
		alt="building"
	/>
	<h1
		class="absolute z-10 text-5xl text-center font-bold leading-tighter tracking-tighter font-heading text-slate-900 dark:text-slate-100"
	>
		Under
		<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">Construction</span>
	</h1>
</section>
