---
import Picture from '../core/Picture.astro';
---

<div class="flex jusitfy-center items-center">
	<img src={'default.png'} class="object-cover h-10 relative bottom-0 border-2 border-black bg-white dark:border-yellow-300" alt="Thomas" />
	<span class="self-center ml-2 border-2 border-black bg-white px-2 py-1 text lg:text-2xl font-black uppercase text-black whitespace-nowrap dark:border-yellow-300 dark:bg-black dark:text-yellow-50">
		Thomas Verderesi</span
	>
</div>
