---
import Picture from '../core/Picture.astro';
---

<div class="flex jusitfy-center items-center">
	<img src={'default.png'} class="object-cover h-8 relative bottom-0" alt="Thomas" />
	<span class="self-center ml-1 text lg:text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
		Thomas Verderesi</span
	>
</div>
