---

---

<a
  href="/"
  aria-label="Thomas Verderesi home"
  class="inline-flex items-center gap-3 no-underline"
>
  <div
    class="flex items-center justify-center pb-1 leading-none font-black tracking-[-0.12em] lg:text-3xl"
  >
    <span>&lt;</span>
    <span class="text-loud">/</span>
    <span>&gt;</span>
  </div>

  <span
    id="navbar-name"
    class="inline-block max-w-0 -translate-x-2 overflow-hidden align-middle font-black tracking-[-0.04em] whitespace-nowrap text-black uppercase opacity-0 transition-[max-width,opacity,transform] duration-300 ease-out lg:text-3xl dark:text-white"
  >
    Thomas Verderesi
  </span>
</a>
