---
import Picture from '../core/Picture.astro';
---

<div class="flex h-[2rem]">
	<img src={'default.png'} class="object-cover" alt="Thomas" />
	<span class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
		Thomas Verderesi</span
	>
</div>
