<div class="flex flex-row justify-center gap-6 items-center mt-5">
	<a
		href="https://calendly.com/tverderesi/30min"
		class="btn bg-primary-500 dark:bg-secondary-500 text-slate-100 hover:dark:bg-secondary-400 hover:bg-primary-400 shadow-none font-bold rounded-2xl"
		>30 min. meeting</a
	>
	<a
		href="https://calendly.com/tverderesi/1hr-meeting"
		class="btn bg-primary-500 dark:bg-secondary-500 text-slate-100 hover:dark:bg-secondary-400 hover:bg-primary-400 shadow-none font-bold rounded-2xl"
		>1 hour meeting</a
	>
</div>
