---
type SkillGroup = {
	category: string;
	items: string[];
};

const { stack } = Astro.props as { stack: SkillGroup[] };
---

<div class="mt-4 grid gap-5">
	{
		stack.map(({ category, items }) => (
			<section>
				<h3 class="text-base font-bold text-slate-900 dark:text-slate-100">{category}</h3>
				<ul class="mt-3 flex flex-wrap gap-2">
					{items.map((item) => (
						<li class="rounded-md bg-slate-200 px-3 py-2 text-xs font-semibold text-slate-900 dark:bg-slate-800 dark:text-slate-100">{item}</li>
					))}
				</ul>
			</section>
		))
	}
</div>
