---
import { getPermalink } from '~/utils/permalinks';

const { tags, class: className = 'text-sm' } = Astro.props;
---

{
	tags && Array.isArray(tags) && (
		<ul class={className}>
			{tags.map((tag) => (
				<li class="inline-block mr-2 mb-2 border-2 border-black bg-yellow-300 py-1 px-3 font-black uppercase text-black shadow-[3px_3px_0_#050505] dark:border-yellow-300 dark:bg-black dark:text-yellow-50 dark:shadow-[3px_3px_0_#ff3b30]">
					<a href={getPermalink(tag, 'tag')}>{tag}</a>
				</li>
			))}
		</ul>
	)
}
