---
import Picture from '~/components/core/Picture.astro';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

const { post } = Astro.props;

const image = await findImage(post.image);
---

<article
	class="relative mx-4 mb-8 flex h-32 border-4 border-black bg-stone-100 text-black shadow-[8px_8px_0_#050505] transition duration-100 hover:-translate-x-1 hover:-translate-y-1 hover:bg-yellow-300 hover:shadow-[12px_12px_0_#050505] dark:border-yellow-300 dark:bg-black dark:text-yellow-50 dark:shadow-[8px_8px_0_#ff3b30] lg:h-52 lg:w-52"
>
	<a href={getPermalink(post.slug, 'post')} class="h-full w-full relative z-1">
		<div class="relative h-0 pb-[56.25%] lg:h-64 overflow-hidden">
			<Picture
				src={image}
				class="object-cover w-full lg:h-64"
				widths={[400, 900]}
				sizes="(max-width: 900px) 400px, 900px"
				alt={post.title}
				aspectRatio="16:9"
			/>
		</div>
		<h3 class="mb-2 border-t-4 border-black bg-yellow-300 px-3 py-2 font-heading text-xl font-black uppercase leading-snug dark:border-yellow-300 dark:bg-black sm:text-2xl">
			{post.title}
		</h3>
		<p class="px-3 pb-3 font-bold text-black dark:text-yellow-50">{post.excerpt || post.description}</p>
	</a>
</article>
