---
import { Icon } from 'astro-icon/components';
import Picture from '~/components/core/Picture.astro';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

const { post } = Astro.props;

const image = await findImage(post.image);
---

<article
	class="relative mx-4 mb-6 flex h-32 border-4 border-black bg-yellow-300 text-black shadow-[8px_8px_0_#050505] transition duration-100 hover:-translate-x-1 hover:-translate-y-1 hover:bg-red-500 hover:text-white hover:shadow-[12px_12px_0_#050505] dark:border-yellow-300 dark:bg-black dark:text-yellow-50 dark:shadow-[8px_8px_0_#ff3b30] lg:h-52 lg:w-52"
>
	<a href={getPermalink(post.slug, 'post')}>
		{
			image ? (
				<Picture
					src={image}
					class="object-cover w-full border-b-4 border-black bg-stone-100 dark:border-yellow-300 dark:bg-black"
					widths={[600, 900]}
					sizes="(max-width: 900px) 600px, 900px"
					alt={post.title}
					aspectRatio="1:1"
				/>
			) : (
				<Icon
					name="la:feather-alt"
					class="absolute top-[12.5%] left-[12.5%] -z-1 dark:text-slate-400/20 text-slate-500/20 w-3/4 h-3/4 mx-auto my-auto"
				/>
			)
		}

		<h3
			class={`text-xl font-bold leading-snug sm:text-lg font-heading z-10 absolute bottom-0 left-0 right-0 ${
				image ? 'bg-yellow-300 text-black dark:bg-black dark:text-yellow-50' : ''
			} border-t-4 border-black px-3 py-3 font-black uppercase dark:border-yellow-300`}
		>
			{post.title}
		</h3>
	</a>
</article>
