---
import Item from '~/components/blog/HomeGridItem.astro';

const { posts } = Astro.props;
---

<div class="grid gap-2 md:grid-cols-2 lg:grid-cols-4 mx-auto w-11/12 pb-10">
	{posts.map((post) => <Item post={post} />)}
</div>
