---
import BentoCell from "~/layouts/BentoCell.astro";
import SectionHeader from "./Header.astro";
import LatestPosts from "./LatestPosts.astro";
---

<BentoCell span={12}>
  <div class="mt-4"></div>
</BentoCell>

<BentoCell span={12}>
  <SectionHeader />
</BentoCell>

<LatestPosts />
