---
import Item from '~/components/blog/ListItem.astro';

const { posts } = Astro.props;
---

<ul class="min-h-[60vh]">
	{
		posts.map((post) => (
			<li class="mt-10 md:mt-16 mb-10 md:mb-16">
				<Item post={post} />
			</li>
		))
	}
</ul>
