@import "tailwindcss";
@import "./neobrutal.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "InterVariable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  html {
    letter-spacing: 0;
  }
}

@layer utilities {
  [data-aw-toggle-menu] path {
    @apply transition;
  }

  [data-aw-toggle-menu].expanded g > path:first-child {
    @apply -rotate-45 -translate-x-0.75 translate-y-3.75;
  }

  [data-aw-toggle-menu].expanded g > path:last-child {
    @apply rotate-45 translate-x-3.5 -translate-y-2;
  }
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}
