---
import "~/assets/styles/base.css";

import MetaTags from "~/components/core/MetaTags.astro";
import BasicScripts from "~/components/core/BasicScripts.astro";

const { meta = {} } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="selection-loud motion-safe:scroll-smooth 2xl:text-[20px]"
>
  <head>
    <MetaTags {...meta} />
  </head>

  <body
    class="brutal-grid bg-white text-gray-950 antialiased dark:bg-black dark:text-white"
  >
    <slot />
    <BasicScripts />
  </body>
</html>
