---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';

const { meta } = Astro.props;
---

<Layout {meta}>
	<Header />
	<main>
		<slot />
	</main>
</Layout>
